<script type="text/ng-template" id="Password.tmpl.html">
  <form name="form" ng-submit="submit_password(form.$valid)">
    <div class="modal-header" ng-show="modalTitle">
      <h4 class="modal-title" ng-bind-html="modalTitle"></h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="meta_label" for="lion_name">Name:</label>
        <input class="form-control text-center" readonly type="text" name="email" ng-model="sel_user.email">
      </div>
      <div class="form-group">
        <label class="meta_label" for="lion_name">Password:</label>
        <input class="form-control text-center" type="password" name="password" ng-model="sel_user.password" placeholder="New Password" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('please fill out this field with Password')">
      </div>
      <div class="form-group">
        <label class="meta_label" for="lion_name">Password:</label>
        <input class="form-control text-center" type="password" name="verify" ng-model="sel_user.confirmPassword" placeholder="Confirm Password" required oninput="setCustomValidity('')" nx-equal-ex="sel_user.password"
              oninvalid="this.setCustomValidity('please repeat the Password in this field')">
              <div class="text-center"><span align="center" style="color: #d95210;" ng-show="showValidationMessages && form.verify.$error.nxEqualEx" class="help-inline">Passwords must match!</span></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel_password()" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary">Change</button>
    </div>
  </form>
</script>

<h1><a class="btn btn-default" ng-click="go_back()"><i class="icon icon-arrow-left"></i></a> Administration</h1>
<div class="container">
  <!--<tabset>
    <tab ui-sref="admin.users">
      <tab-heading>Users</tab-heading>
    </tab>
    <tab ui-sref="admin.organizations">
      <tab-heading>Organizations</tab-heading>
    </tab>
    <tab ui-sref="admin.lions">
      <tab-heading>Lions</tab-heading>
    </tab>
    <tab ui-sref="admin.imagesets">
      <tab-heading>Image Sets</tab-heading>
    </tab>
    <tab ui-sref="admin.images">
      <tab-heading>Images</tab-heading>
    </tab>
    <tab ui-sref="admin.cvrequests">
      <tab-heading>CV Requests</tab-heading>
    </tab>
    <tab ui-sref="admin.cvresults">
      <tab-heading>CV Results</tab-heading>
    </tab>
  </tabset>-->
  <ul class="nav nav-tabs">
    <li ui-sref="admin.users" ui-sref-active="active"><a>Users</a></li>
    <li ng-repeat="tab in tabs"
        ui-sref="{{!tab.sref}}"
        ui-sref-active="active"><a>{{!tab.title}}</a></li>
  </ul>
  <div ui-view></div>


  <!--<uib-tabset justified="true">
    <uib-tab ng-repeat="tab in tabs" heading="{{!tab.title}}" active="tab.active" disable="tab.disabled">
      <div ng-include="tab.template"></div>
    </uib-tab>
  </uib-tabset>-->
<!--
  <ul class="nav nav-tabs">
        <li ng-class="{active:$state.current.name == 'properties.edit.basic'}"><a ui-sref="properties.edit.basic">Basic</a></li>
        <li ng-class="{active:$state.current.name == 'properties.edit.marketing'}"><a ui-sref="properties.edit.marketing">Marketing</a></li>
        <li ng-class="{active:$state.current.name == 'properties.edit.rooms'}"><a ui-sref="properties.edit.rooms">Rooms</a></li>
        <li ng-class="{active:$state.current.name == 'properties.edit.images'}"><a ui-sref="properties.edit.images">Images</a></li>
        <li ng-class="{active:$state.current.name == 'properties.edit.rates'}"><a ui-sref="properties.edit.rates">Rates</a></li>
        <li ng-class="{active:$state.current.name == 'properties.edit.availability'}"><a ui-sref="properties.edit.availability">Availability</a></li>
    </ul>
    <ui-view></ui-view>-->





<!--
  <uib-tabset justified="true">
    <tab heading="Users" ui-sref=".users" active="$state.includes('admin.users')"></tab>
    <tab heading="Organizations" ui-sref=".organizations" active="$state.includes('admin.organizations')"></tab>
  </uib-tabset>
  <div ui-view="admin.users" ng-show="$state.includes('admin.users')"></div>
  <div ui-view="admin.organizations" ng-show="$state.includes('admin.organizations')"></div>
 </div>
 -->
