<div class="form-group" ng-controller="AdminUsersCtrl">
  <div class="btn-toolbar" role="toolbar" aria-label="toolbar_btns" style="padding-top:10px;padding-bottom:10px;">
    <div class="btn-group" style="margin-left:10%">
      <button type="button" class = "btn btn btn-warning" ng-click="Add_User()">Add</button>
    </div>
    <div class="btn-group">
      <button ng-disabled="!(Selecteds.length==1)" type="button" class = "btn btn btn-warning" ng-click="Edit_User()">Edit</button>
    </div>
    <div class="btn-group">
      <button ng-disabled="!(Selecteds.length>0)" type="button" class = "btn btn btn-warning" ng-click="Delete_User()">Delete</button>
    </div>
    <div class="btn-group">
      <button ng-disabled="!(Selecteds.length==1)" type="button" class = "btn btn btn-warning" ng-click="ChangePassword()">Change Password</button>
    </div>

    <div ng-hide="User_Change.mode == ''" class="btn-group" style="margin-left:10%">
        <button type="button" class="btn btn-default" ng-click="Cancel_Edit_User()">Cancel</button>
    </div>
    <div ng-hide="User_Change.mode == ''" class="btn-group">
      <button type="submit" class="btn btn-warning">{{!btn_submit}}</button>
    </div>

  </div>
  <form name="userForm" ng-submit="Submit_User()">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center"><input type="checkbox" ng-disabled="User_Change.mode != ''" ng-model="select_all" ng-click="check_all(select_all)"></th>
          <th class="text-center">Id</th>
          <th class="text-center">email</th>
          <th class="text-center">Organization</th>
          <th class="text-center">Administrator</th>
          <th class="text-center">Trashed</th>

          <th class="text-center">Created At</th>
          <th class="text-center">Updated At</th>

          <th class="text-center">Info</th>
        <!--  <th class="text-center">Created At</th>
          <th class="text-center">Updated At</th>
          <th class="text-center">Current Sign In At</th>
          <th class="text-center">Current Sign In Ip</th>
          <th class="text-center">Last Sign in At</th>
          <th class="text-center">Last Sign In Ip</th>
          <th class="text-center">Sign In Count</th>-->

  <!--
          <th ng-show="User_Change.mode" class="text-center">Cancel</th>
          <th ng-show="User_Change.mode" class="text-center">{{!User_Change.label}}</th>
-->
        </tr>
      </thead>
      <tbody>
        <tr class="link" ng-repeat="user in users" ng-class="{active:user.selected}" ng-click="Select_User1(user);$event.stopPropagation();">
          <ng-form name="userFieldForm">
            <td class="text-center"><input type="checkbox" ng-disabled="User_Change.mode != ''" ng-model="user.selected" ng-click="Select_User(user);$event.stopPropagation();"></td>
            <td class="text-center">{{!user.id}}</td>

            <td ng-show="user.change_mode" class="text-center">
              <input type="email" class="form-control text-center" name="email" ng-model="user.email" required>
            </td>
            <td ng-show="!user.change_mode" class="text-center">{{!user.email}}</td>

            <td ng-show="user.change_mode" class="text-center">
              <select class="form-control-inline custom-select" id="organization_id" name="organization_id" ng-options="organization.id as organization.name for organization in organizations" ng-model="user.organization_id" required><option></option>
              </select>
            </td>
            <td ng-show="!user.change_mode" class="text-center">{{!user.organization}}</td>

            <td ng-show="user.change_mode" class="text-center">
              <input type="checkbox"  ng-model="user.admin" ng-checked="user.admin">
            </td>
            <td ng-show="!user.change_mode" class="text-center">
              <i ng-if="user.admin" class="icon icon-check"></i>
              <i ng-if="!user.admin" class="icon icon-cross"></i>
            </td>
            <td ng-show="user.change_mode" class="text-center">
              <input type="checkbox"  ng-model="user.trashed" ng-checked="user.trashed">
            </td>
            <td ng-show="!user.change_mode" class="text-center">
              <i ng-if="user.trashed" class="icon icon-check"></i>
              <i ng-if="!user.trashed" class="icon icon-cross"></i>
            </td>
            <td class="text-center">{{!user.created_at}}</td>
            <td class="text-center">{{!user.updated_at}}</td>

            <td>
              <a href data-animation="am-flip-x" data-html="true" placement="auto" bs-tooltip="user.tooltip">Info</a>
              <!--<div uib-collapse="isCollapsed">
                <div class="panel-body">
                  <ul>
                    <li>Created At: {{!user.created_at}}</li>
                    <li>Updated At: {{!user.updated_at}}</li>
                    <li>Current Sign In At: {{!user.current_sign_in_at}}</li>
                    <li>Current Sign In Ip: {{!user.current_sign_in_ip}}</li>
                    <li>Last Sign In At: {{!user.last_sign_in_at}}</li>
                    <li>Last Sign In Ip: {{!user.last_sign_in_ip}}</li>
                    <li>Sign In Count: {{!user.sign_in_count}}</li>
                  </ul>
                </div>
              </div>-->
            </td>

            <!--<td class="text-center">{{!user.created_at}}</td>
            <td class="text-center">{{!user.updated_at}}</td>
            <td class="text-center">{{!user.current_sign_in_at}}</td>
            <td class="text-center">{{!user.current_sign_in_ip}}</td>
            <td class="text-center">{{!user.last_sign_in_at}}</td>
            <td class="text-center">{{!user.last_sign_in_ip}}</td>
            <td class="text-center">{{!user.sign_in_count}}</td>-->

<!--
            <td ng-show="user.change_mode" class="text-center">
              <button type="button" class="btn btn-default" ng-click="Cancel_Edit_User()">Cancel</button>
            </td>
            <td ng-show="user.change_mode" class="text-center">
              <button type="submit" class="btn btn-default">{{!btn_submit}}</button>
            </td>
-->
          </ng-form>
        </tr>
      </body>
    </table>
  </form>
</div>
