<div class="form-group" ng-controller="AdminOrganizationsCtrl">
  <div class="btn-toolbar" role="toolbar" aria-label="toolbar_btns" style="padding-top:10px;padding-bottom:10px;">
    <div class="btn-group" style="margin-left:10%">
      <button type = "button" class = "btn btn btn-warning" ng-click="Add_Organization()">Add</button>
    </div>
    <div class="btn-group">
      <button ng-disabled="!(Selecteds.length==1)"  type = "button" class = "btn btn btn-warning" ng-click="Edit_Organization()">Edit</button>
    </div>
    <div class="btn-group">
      <button ng-disabled="!(Selecteds.length>0)" type = "button" class = "btn btn btn-warning" ng-click="Delete_Organization()">Delete</button>
    </div>

    <div ng-hide="Org_Change.mode == ''" class="btn-group" style="margin-left:10%">
        <button type="button" class="btn btn-default" ng-click="Cancel_Edit_Org()">Cancel</button>
    </div>
    <div ng-hide="Org_Change.mode == ''" class="btn-group">
      <button type="submit" class="btn btn-warning">{{!btn_submit}}</button>
    </div>
  </div>
  <form name="orgForm" ng-submit="Submit_Organization()">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center"><input type="checkbox" ng-disabled="Org_Change.mode != ''" ng-model="select_all" ng-click="check_all(select_all)"></th>
          <th class="text-center">Id</th>
          <th class="text-center">Organization</th>
          <th class="text-center">Trashed</th>
          <th class="text-center">Created At</th>
          <th class="text-center">Updated At</th>
          <!--<th ng-show="Org_Change_Mode" class="text-center">Cancel</th>
          <th ng-show="Org_Change_Mode" class="text-center">{{!Org_Submite_Mode.label}}</th>-->
        </tr>
      </thead>
      <tbody>
        <tr class="link" ng-repeat="org in organizations" ng-disabled="Org_Change.mode != ''" ng-class="{active:org.selected}" ng-click="Select_Org(org)">
          <ng-form name="orgFieldForm">
            <td class="text-center"><input type="checkbox" ng-disabled="Org_Change.mode != ''" ng-model="org.selected" ng-click="Select_Org(org)"></td>
            <td class="text-center">{{!org.id}}</td>

            <td ng-show="org.change_mode" class="text-center">
              <input type="text" class="form-control text-center" name="name" ng-model="org.name" required>
            </td>
            <td ng-show="!org.change_mode" class="text-center">{{!org.name}}</td>

            <td ng-show="org.change_mode" class="text-center">
              <input type="checkbox"  ng-model="org.trashed" ng-checked="org.trashed">
            </td>
            <td ng-show="!org.change_mode" class="text-center">
              <i ng-if="org.trashed" class="icon icon-check"></i>
              <i ng-if="!org.trashed" class="icon icon-cross"></i>
            </td>

            <td class="text-center">{{!org.created_at}}</td>
            <td class="text-center">{{!org.updated_at}}</td>
<!--
            <td ng-show="org.change_mode" class="text-center">
              <button type="button" class="btn btn-default" ng-click="Cancel_Edit_Org()">Cancel</button>
            </td>
            <td ng-show="org.change_mode" class="text-center">
              <button type="submit" class="btn btn-default">{{!btn_submit}}</button>
            </td>
-->
            </td>
          </ng-form>
        </tr>
      </body>
    </table>
  </form>
</div>
