
<h1><a class="btn btn-default" href="javascript:history.back()"><i class="icon icon-arrow-left"></i></a> Conservationists</h1>

<div class="row">
  <div class="col-sm-4 line-right">
    <h3>Lions guardians</h3>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
  </div>
  <div class="col-sm-4 line-right">
   <h3>Lions guardians</h3>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
  </div>
  <div class="col-sm-4">
    <h3>Lions guardians</h3>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
    <p><a href="mailto:x@y.com"><i class="icon icon-mail"></i></a> justin@lg.org</p>
  </div>
</div>
