<div class="modal-header" ng-show="title">
  <button type="button" class="close" ng-click="Close()">&times;</button>
  <h4 class="modal-title" ng-bind-html="title"></h4>
</div>
<div class="modal-body" ng-show="content">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Age</th>
        <th>Organization</th>
        <th>Gender</th>
        <th class="text-center">Verified</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="link" ng-repeat="lion in lions | filter:  {hasResults: true, pending: true, verified: true}" ng-class="{active:lion.select}">
        <td>
          <img ng-src="{{!lion.url_small}}" width="40" height="40">
        </td>
        <td>{{!lion.name}}</td>
        <td>{{!lion.age}} years old</td>
        <td>{{!lion.organization}}</td>
        <td>{{!lion.gender}}</td>
        <td class="text-center">
          <i ng-if="lion.verified" class="icon icon-check"></i>
          <i ng-if="!lion.verified" class="icon icon-cross"></i>
        </td>
        <td class="text-center">
          <label class="btn btn-default" ><input type="checkbox" ng-model="lion.select" > Select</label>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="clearfix">
    <a href="#" class="btn btn-link">Select All</a>
    <a href="#" class="btn btn-link">Select None</a>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="Cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="RequestCV()"><i class="icon icon-flash"></i>Request CV</button>
</div>
