 <!--HOME-->
  <div class="home row">
    <div class="col-sm-6 text-right">
      <metadata use-ctrl="MetadataCtrl" use-template-url="metadata" form-size="lg" type="add_lion" goto-imageset-action="goto_lion(Id)" options-set="options.lions"></metadata>
      <p><a ui-sref="searchlion" class="btn btn-lg btn-default"><i class="icon icon-search"></i> SEARCH A LION</a></p>
    </div>
    <div class="col-sm-6">
      <metadata use-ctrl="MetadataCtrl" use-template-url="metadata" form-size="lg" type="add_image_set"  goto-imageset-action="goto_imageset(Id)" options-set="options.imageset"></metadata>
      <p><a ui-sref="searchimageset" class="btn btn-lg btn-default"><i class="icon icon-search"></i> SEARCH  IMAGE SETS</a></p>
    </div>
  </div>
