  <h1><a class="btn btn-default" ng-click="go_back()"><i class="icon icon-arrow-left"></i></a> Image Set Info</h1>
  <div class="row">
    <div class="col-sm-3 line-right">
      <p><img src="{{!imageset.image}}" class="img-responsive"></p>
      <div>
        <h4 class="h4inline">Image Set ID:</h4>
        <h4 class="h4data">{{!imageset.id}}</h4>
      </div>
      <div>
        <h4 class="h4inline">Lion Name:</h4>
        <h4 class="h4data">
          <a ng-click="(imageset.lion_id==null) || goto_lion(imageset.lion_id);">{{!imageset.name || '-'}}</a>
        </h4>
      </div>
      <div ng-show="!imageset.is_primary && imageset.lion_id">
        <button type="button" class="btn btn-primary btn-xs" ng-click="Dissociate(imageset.id)">Dissociate</button>
      </div>
      <div>
        <h4 class="h4inline">Organization:</h4>
        <h4 class="h4data">{{!imageset.organization}}</h4>
      </div>
      <div>
        <h4 class="h4inline">Age:</h4>
        <h4 class="h4data">{{!imageset.age}}</h4>
      </div>
      <div>
        <h4 class="h4inline">Gender:</h4>
        <h4 ng-show="imageset.gender" class="h4data">{{!imageset.gender}}</h4>
        <h4 ng-show="!imageset.gender" class="h4data">Unknown</h4>
      </div>
      <div ng-show="imageset.ear_markings">
        <h4 class="h4inline">Ear Markings:</h4>
        <h4 class="h4data">{{!imageset.ear_markings}}</h4>
      </div>
      <div ng-show="imageset.mount_markings">
        <h4 class="h4inline">Mouth Markings:</h4>
        <h4 class="h4data">{{!imageset.mount_markings}}</h4>
      </div>
      <div ng-show="imageset.tail_markings">
        <h4 class="h4inline">Tail Markings:</h4>
        <h4 class="h4data">{{!imageset.tail_markings}}</h4>
      </div>
      <div ng-show="imageset.nose_color">
        <h4 class="h4inline">Nose Color:</h4>
        <h4 class="h4data">{{!imageset.nose_color}}</h4>
      </div>
      <div ng-show="imageset.scars">
        <h4 class="h4inline">Scars:</h4>
        <h4 class="h4data">{{!imageset.scars}}</h4>
      </div>
      <div ng-show="imageset.eye_damage">
        <h4 class="h4inline">Eye Damage:</h4>
        <h4 class="h4data" >{{!imageset.eye_damage}}</h4>
      </div>
      <div ng-show="imageset.broken_teet">
        <h4 class="h4inline">Broken Teeth:</h4>
        <h4 class="h4data">{{!imageset.broken_teet}}</h4>
      </div>
    </div>
    <div class="col-sm-5">
      <h4 class="h4inline">Notes:</h4>
      <h4 class="h4data">{{!imageset.notes}}</h4>
    </div>
    <div class="col-sm-3 line-left">
      <image-gallery ng-show="imageset" use-ctrl="ImageGalleryCtrl" use-template-url="imagegallery.html" form-size="lg" options-set="gallery_options" debug="debug"></image-gallery>
      <location-history ng-show="imageset" use-ctrl="LocationHistoryCtrl" use-template-url="locationhistory.html" form-size="lg" type="imageset" options="location_options" location-goto="location_goto(imageset_Id)" debug="debug"></location-history>
      <br>
      <metadata ng-show="imageset" use-ctrl="MetadataCtrl" use-template-url="metadata.html" form-size="lg" type="edit" options-set="metadata_options" update-action="update_imageset(data)" debug="debug"></metadata>
      <br>
      <cvresults ng-show="imageset" use-ctrl="CVResultsCtrl" use-template-url="cvresults.html" form-size="lg" imageset-id="imageset.id" cvresults-id="imageset.cvresults" cvrequest-id="imageset.cvrequest" ng-if="imageset.action == 'cvresults'" cv-result-erased="Change_results(change, imagesetId)" debug="debug"></cvresults>
      <cvrequest ng-show="imageset" use-ctrl="CVRequesCtrl" use-template-url="cvrequest.html" form-size="lg" imageset-id="imageset.id" ng-if="imageset.action == 'cvrequest'" cv-request-success="CVReqSuccess(imageset_Id, request_Obj)" debug="debug"></cvrequest>
  <!--    <p><a class="btn btn-lg btn-default btn-block text-muted" ng-show="imageset" ng-if="imageset.action == 'cvpending'"><span class="text-muted">CV Request pending</span></a></p> -->
      <p ng-show="imageset"><a class="btn btn-lg btn-default btn-block" ng-click="Delete()"><i class="icon icon-trash"></i> DELETE IMAGE SET</a></p>
    </div>
  </div>
