  <h1><a class="btn btn-default" ng-click="go_back()"><i class="icon icon-arrow-left"></i></a> Image set</h1>
  <div class="row">
    <div class="col-sm-3 line-right">
      <p><img src="{{!imageset.image}}" class="img-responsive"></p>
      <h4>Image Set ID</h4>
      <p>{{!imageset.id}}</p>
      <h4>Lion Name</h4>
      <p>{{!imageset.name}}</p>
      <h4>Organization</h4>
      <p>{{!imageset.organization}}</p>
      <h4>Age</h4>
      <p>{{!imageset.age}}</p>
      <h4>Gender</h4>
      <p>{{!imageset.gender}}</p>
      <div ng-show="imageset.eye_damage">
        <h4>Eye Damage</h4>
        <p>{{!imageset.eye_damage}}</p>
      </div>
      <div ng-show="imageset.broken_teet">
        <h4>Broken Teeth</h4>
        <p>{{!imageset.broken_teet}}</p>
      </div>
      <div ng-show="imageset.ear_markings">
        <h4>Ear Markings</h4>
        <p>{{!imageset.ear_markings}}</p>
      </div>
      <div ng-show="imageset.mount_markings">
        <h4>Mouth Markings</h4>
        <p>{{!imageset.mount_markings}}</p>
      </div>
      <div ng-show="imageset.tail_markings">
        <h4>Tail Markings</h4>
        <p>{{!imageset.tail_markings}}</p>
      </div>
      <div ng-show="imageset.nose_color">
        <h4>Nose Color</h4>
        <p>{{!imageset.nose_color}}</p>
      </div>
      <div ng-show="imageset.scars">
        <h4>Scars</h4>
        <p>{{!imageset.scars}}</p>
      </div>
    </div>
    <div class="col-sm-5">
      <h4>Notes</h4>
      <p>{{!imageset.notes}}</p>
    </div>
    <div class="col-sm-3 line-left">
      <image-gallery ng-show="imageset" use-ctrl="ImageGalleryCtrl" use-template-url="imagegallery.html" form-size="lg" options-set="gallery_options"></image-gallery>
      <location-history ng-show="imageset" use-ctrl="LocationHistoryCtrl" use-template-url="locationhistory.html" form-size="lg" type="imageset" options="location_options" location-goto="location_goto(imageset_Id)"></location-history>
      <br>


      <metadata ng-show="imageset" use-ctrl="MetadataCtrl" use-template-url="metadata.html" form-size="lg" type="edit" options-set="metadata_options" update-action="update_imageset(data)"></metadata>
      <br>


      <cvresults ng-show="imageset" use-ctrl="CVResultsCtrl" use-template-url="cvresults.html" form-size="lg" imageset-id="imageset.id" cvresults-id="imageset.cvresults" cvrequest-id="imageset.cvrequest" ng-if="imageset.action == 'cvresults'" cv-result-erased="Change_results(change, imagesetId)"></cvresults>
      <cvrequest ng-show="imageset" use-ctrl="CVRequesCtrl" use-template-url="cvrequest.html" form-size="lg" imageset-id="imageset.id" ng-if="imageset.action == 'cvrequest'" cv-request-success="CVReqSuccess(imageset_Id, request_Obj)"></cvrequest>
  <!--    <p><a class="btn btn-lg btn-default btn-block text-muted" ng-show="imageset" ng-if="imageset.action == 'cvpending'"><span class="text-muted">CV Request pending</span></a></p> -->
      <p ng-show="imageset"><a class="btn btn-lg btn-default btn-block" ng-click="Delete()"><i class="icon icon-trash"></i> DELETE IMAGE SET</a></p>
    </div>
  </div>
