  <h1><a class="btn btn-default" ng-click="go_back()"><i class="icon icon-arrow-left"></i></a> Lion Name</h1>
  <div class="row">
    <div class="col-sm-3 line-right">
      <p><img src="{{!lion.thumbnail}}" class="img-responsive"></p>
      <h4>Lion ID</h4>
      <p>{{!lion.id}}</p>
      <h4>Organization</h4>
      <p>{{!lion.organization}}</p>
      <h4>Age</h4>
      <p>{{!lion.age}}</p>
      <h4>Gender</h4>
      <p>{{!lion.gender}}</p>
      <h4>Ear Markings</h4>
      <p>Left</p>
    </div>
    <div class="col-sm-5">
      <h4>Notes</h4>
      <p>Blah blah blah blah blah blah blah blah blah blah blah</p>
    </div>
    <div class="col-sm-3 line-left" >
      <image-gallery></image-gallery>
      <location-history use-ctrl="LocationHistoryCtrl" use-template-url="locationhistory" form-size="lg"></location-history>
      <br>
      <metadata use-ctrl="MetadataCtrl" use-template-url="metadata" form-size="lg" type="edit" modal-options="modalOptions"></metadata>
      <br>
      <p><a href="#/searchimageset" class="btn btn-lg btn-default btn-block"><i class="icon icon-images"></i> SEARCH IMAGE SETS</a></p>
      <p><a ng-click="go_back()" class="btn btn-lg btn-default btn-block"><i class="icon icon-trash"></i> DELETE LION</a></p>
    </div>
  </div>
