<div class="modal-header" ng-show="title">
  <button type="button" class="close" ng-click="Close()">&times;</button>
  <h4 class="modal-title" ng-bind-html="title"></h4>
</div>
<div class="modal-body" ng-show="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <button type="button" class="list-group-item" ng-class="{active:imageset==1}" ng-repeat="imageset in imagesets"><span class="badge">{{!imageset.date}}</span>Image Set {{!imageset.id}}</button>
      </div>
    </div>
    <div class="col-sm-9 map-container">
      <map zoom="{{! mapa.zoom}}" center= "{{! mapa.center}}" map-type-id="{{!mapa.mapTypeId}}">
      </map>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="Close()">Close</button>
</div>
