<script type="text/ng-template" id="InfoWindow.tmpl.html">
  <div class="modal-header" ng-show="title">
    <h4 class="modal-title">Location detail</h4>
    <div class="row">
      <div class="col-sm-4 text-center">
        <h3 class="text-center" ng-bind-html="infomsg"></h3>
      </div>
      <div class="col-sm-8 text-center">
        <h3 class="text-center" ng-bind-html="date"></h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" ng-click="goto()">{{!GoBackMessage}}</button>
  </div>
</script>

<div class="modal-header" ng-show="title">
  <button type="button" class="close" ng-click="Cancel()">&times;</button>
  <h4 class="modal-title" ng-bind-html="title"></h4>
</div>
<div class="modal-body" ng-show="content">
  <div class="row">
    <div ng-show="isLion" class="col-sm-3">
      <div class="list-group">
        <div class="form-group" ng-repeat="location in locations" >
          <button ng-class="{'btn btn-default': !location.selected, 'btn btn-warning': location.selected}" ng-model="location.selected" ng-click="animate(location)" ng-dblclick="open_imageset(location.id)">{{!location.label}} - <span class="badge">{{!location.updated_at}}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="map-container" ng-class="{'col-sm-9 ': isLion, 'col-sm-12': !isLion}">
      <!--<map zoom="{{! mapa.zoom}}" center="{{! mapa.center}}" map-type-id="{{!mapa.mapTypeId}}" scale-control="true">-->
      <map scale-control="true">
      </map>
    </div>
  </div>
</div>
