{% extends "../templates/base.html" %}

  {% block css %}
  {% end %}
  {% block js %}
  {% end %}

  {% block tag_body %}
    <body ng-controller="BodyCtrl" class="{{! bodyClasses }}">
  {% end %}

  {% block content %}
      <script type="text/ng-template" id="Delete.tmpl.html">
        <div class="modal-header" ng-show="modalTitle">
          <h4 class="modal-title" ng-bind-html="modalTitle"></h4>
        </div>
        <div class="modal-body" ng-bind-html="modalMessage">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
      </script>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" ng-disabled="!$storage.logged" ui-sref="home"><img src="static/logo.png" alt="logo" ></a>
          </div>
          <ul class="nav navbar-nav navbar-right" ng-show="$storage.logged">
            <sidemenu></sidemenu>
          </ul>
        </div>
      </nav>
      <div id="main">
        <div ui-view></div>
      </div>

  {% end %}

  {% block include_js %}
    <script src="{{ static_url("js/app.js") }}" ></script>
    <script src="{{ static_url("js/controllers/controllers.js") }}" ></script>
    <script src="{{ static_url("js/controllers/admin.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/home.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/login.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/lion.controllers.js") }}" ></script>
    <script src="{{ static_url("js/controllers/image.set.controllers.js") }}" ></script>
    <script src="{{ static_url("js/controllers/conservationists.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/side.menu.controller.js") }}" ></script>
    <script src="{{ static_url("js/directives/side.menu.directive.js") }}" ></script>

    <script src="{{ static_url("js/controllers/image.gallery.controller.js") }}" ></script>
    <script src="{{ static_url("js/directives/image.gallery.directive.js") }}" ></script>
    <script src="{{ static_url("js/controllers/location.history.controller.js") }}" ></script>
    <script src="{{ static_url("js/directives/location.history.directive.js") }}" ></script>
    <script src="{{ static_url("js/controllers/metadata.controller.js") }}" ></script>
    <script src="{{ static_url("js/directives/metadata.directive.js") }}" ></script>
    <script src="{{ static_url("js/controllers/cvresults.controller.js") }}" ></script>
    <script src="{{ static_url("js/directives/cvresults.directive.js") }}" ></script>
    <script src="{{ static_url("js/controllers/cvrequest.controller.js") }}" ></script>
    <script src="{{ static_url("js/directives/cvrequest.directive.js") }}" ></script>
    <script src="{{ static_url("js/controllers/upload.images.controller.js") }}" ></script>
    <script src="{{ static_url("js/directives/upload.images.directive.js") }}" ></script>
    <script src="{{ static_url("js/services/linc.services.js") }}" ></script>
    <script src="{{ static_url("js/services/linc.api.services.js") }}" ></script>
    <script src="{{ static_url("js/services/notification.factory.js") }}" ></script>
    <script src="{{ static_url("js/directives/ng-thumb-directive.js") }}" ></script>
    <script src="{{ static_url("js/services/linc.data.factory.js") }}" ></script>

    <script src="{{ static_url("js/controllers/admin.users.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/admin.organizations.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/admin.lions.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/admin.imagesets.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/admin.images.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/admin.cvrequests.controller.js") }}" ></script>
    <script src="{{ static_url("js/controllers/admin.cvresults.controller.js") }}" ></script>


  {% end %}
