<div class="modal-header" ng-show="title">
  <button type="button" class="close" ng-click="Cancel()">&times;</button>
  <h4 class="modal-title" ng-bind-html="title"></h4>
</div>
<div class="modal-body" ng-show="content">
  <form>
    <div class="row">
      <div class="col-sm-4 line-right">
        <div class="form-group-margin text-right">
          <label for="id_organization">Organization: </label>
          <button type="button" id="id_organization" placeholder="Select Organization" class="btn btn-default btn-sm" ng-model="selected.organization_id" data-html="1" bs-options="organization.id as organization.name for organization in organizations" placement="bottom-right" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <pre ng-show="debug">{{!selected.organization_id}}</pre>

        <hr class="style-line">
        <div class="form-inline text-right" ng-class="{'has-error': datepickerForm.date.$invalid}">
          <label class="control-label"><i class="fa fa-calendar"></i>Date Stamp: </label>
          <input type="text" class="form-control" ng-model="selected.updated_at" data-date-format="shortDate" data-date-type="date" data-min-date="02/10/86" data-max-date="today" data-autoclose="1" name="date" bs-datepicker placement="bottom-left">
        </div>
        <pre ng-show="debug">{{!selected.updated_at}}</pre>

        <hr class="style-line">
        <div class="form-group text-right">
          <div class="form-inline">
            <div class="form-group">
              <label for="id_latitude">Latitude: </label>
              <input disabled type="number" class="form-control" ng-model="selected.latitude" step="0.1" id="id_latitude" >
            </div>
          </div>
          <div class="form-group">
            <div class="form-inline">
              <label for="id_longitude">Longitude: </label>
              <input type="number" class="form-control" ng-model="selected.longitude" step="0.1" id="id_longitude" >
            </div>
          </div>
        </div>
        <pre ng-show="debug">{{!selected.latitude}} {{!selected.longitude}}</pre>

        <hr class="style-line">
        <div class="form-group text-right">
          <label for="id_gender" >Gender</label>
          <button type="button" id="id_gender" placeholder="Select Gender" class="btn btn-default btn-sm" ng-model="selected.gender" data-html="1" bs-options="gen.value as gen.label for gen in genders" placement="bottom-right" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <pre ng-show="debug">{{!selected.gender}}</pre>

      </div>

      <div class="col-sm-4">
        <div ng-show="showLionName" class="form-inline text-right">
          <label for="lion_name">Lion Name:</label>
          <input type="text" class="form-control" id="lion_name" ng-model="selected.name" placeholder="Lion Name">
        </div>
        <pre ng-show="debug">{{!selected.name}}</pre>

        <hr ng-show="showLionName" class="style-line">
        <div class="form-inline text-right" ng-class="{'has-error': datepickerForm.date1.$invalid}">
          <label class="control-label"><i class="fa fa-calendar"></i>Date of Birth: </label>
          <input type="text" class="form-control" ng-model="selected.date_of_birth" ng-change='Calc_Age()' data-date-format="yyyy-MM-dd" data-date-type="date" data-max-date="today" data-autoclose="1" name="date1" bs-datepicker placement="bottom-right">
        </div>
        <pre ng-show="debug">{{!selected.date_of_birth}}</pre>

        <div class="form-inline text-right">
          <label for="id_age">Age <small>(years)</small></label>
          <input type="number" class="form-control" min="0" id="id_age" ng-model="selected.age" placeholder="Age" readonly>
        </div>
        <pre ng-show="debug">{{!selected.age}}</pre>

        <hr class="style-line">
        <div class="form-group text-right">
          <label for="id_eye_damage">Eye Damage</label>
          <button type="button" id="id_eye_damage" placeholder="None" class="btn btn-default btn-sm" ng-model="selected.eye_damage" data-html="1" data-multiple="1" all-none-buttons="true" all-Text="All Eye Damage" bs-options="damage.value as damage.label for damage in eye_damage" placement="bottom-right" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <pre ng-show="debug">{{!selected.eye_damage}}</pre>

        <hr class="style-line">
        <div class="form-group text-right">
          <label for="id_broken_teeth">Broken Teeth</label>
          <button type="button" id="id_broken_teeth" placeholder="None" class="btn btn-default btn-sm" ng-model="selected.broken_teeth" data-html="1" data-multiple="1" all-none-buttons="true" all-Text="All Broken Teeth" bs-options="teeth.value as teeth.label for teeth in broken_teeth" placement="bottom-right" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <pre ng-show="debug">{{!selected.broken_teeth}}</pre>

      </div>

      <div class="col-sm-4 line-left">
        <div class="form-group text-right" ng-repeat="marking in markings">
          <label for="id_{{!marking.value}}" >{{!marking.label}} Markings</label>
          <button type="button" id="id_{{!marking.value}}" placeholder="None" class="btn btn-default btn-sm" ng-model="selected.markings[marking.value]" data-html="1" data-multiple="1" all-none-buttons="true" all-Text="{{!marking.allText}}" bs-options="mark.value as mark.label for mark in marking.items" placement="bottom-right" bs-select>
            Action <span class="caret"></span>
          </button>
          <pre ng-show="debug">{{!selected.markings[marking.value]}}</pre>
        </div>

        <hr class="style-line">
        <div class="form-group text-right">
          <label for="id_nose_color">Nose Color</label>
          <button type="button" id="id_nose_color" placeholder="None" class="btn btn-default btn-sm" ng-model="selected.nose_color" data-html="1" bs-options="color.value as color.label for color in nose_color" placement="bottom-right" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <pre ng-show="debug">{{!selected.nose_color}}</pre>

        <hr class="style-line">
        <div class="form-group text-right">
          <label for="id_scars">Scars</label>
          <button type="button" id="id_scars" placeholder="None" class="btn btn-default btn-sm" ng-model="selected.scars" data-html="1" data-multiple="1" all-none-buttons="true" all-Text="All Scars Type" bs-options="scar.value as scar.label for scar in scars" placement="bottom-right" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <pre ng-show="debug">{{!selected.scars}}</pre>

      </div>
    </div>
    <hr class="style-line">
    <div class="form-group">
      <textarea class="form-control" rows="5" ng-model="selected.notes"></textarea>
    </div>
    <pre ng-show="debug">{{!selected.notes}}</pre>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="Cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="SaveClose()">Save</button>
  <upload-images ng-show="isNew" use-ctrl="UploadImagesCtrl" use-template-url="uploadimages.html" form-size="lg" options-set="optionsSet" type="metadata" save-metadata-action="Save()" close-action="Close()" type="metadata" ></upload-images>
  <br>
</div>
