  <h1><a class="btn btn-default" href="javascript:history.back()"><i class="icon icon-arrow-left"></i></a> Lion.Name</h1>
  <div class="row">
    <div class="col-sm-3 line-right">
      <p><img src="/static/images/square/lion1.jpg" class="img-responsive"></p>
      <h4>Lion ID</h4>
      <p>10</p>
      <h4>Organization</h4>
      <p>Mara Lion Project</p>
      <h4>Age</h4>
      <p>12</p>
      <h4>Gender</h4>
      <p>Male</p>
      <h4>Ear Markings</h4>
      <p>Left</p>
    </div>
    <div class="col-sm-5">
      <h4>Notes</h4>
      <p>Blah blah blah blah blah blah blah blah blah blah blah</p>
    </div>
    <div class="col-sm-3 line-left" >
      <!--<p ng-controller="ImageGalleryCtrl"><a href="#" class="btn btn-lg btn-default btn-block" data-animation="am-fade-and-slide-top" data-template-url="imagegallery" bs-modal="modal"><i class="icon icon-camera"></i> IMAGE GALLERY</a></p>
       Using ng-click()
      <p ng-controller="MapCtrl"><a href="#" class="btn btn-lg btn-default btn-block" data-animation="am-fade-and-slide-top" data-template-url="map" bs-modal="modal"><i class="icon icon-location-pin"></i> POSITION ON MAP</a></p>
      <p ng-controller="EditMetadataCtrl"><a href="#" class="btn btn-lg btn-default btn-block" data-animation="am-fade-and-slide-top" data-template-url="metadata" bs-modal="modal"><i class="icon icon-pencil"></i> EDIT METADATA</a></p>
      <br>-->
      <p ng-controller="ImageGalleryCtrl"><a href="#" class="btn btn-lg btn-default btn-block" data-animation="am-fade-and-slide-top" ng-click="showModal()"><i class="icon icon-camera"></i> IMAGE GALLERY</a></p>
      <p ng-controller="MapCtrl"><a href="#" class="btn btn-lg btn-default btn-block" data-animation="am-fade-and-slide-top" ng-click="showModal()"><i class="icon icon-location-pin"></i> POSITION ON MAP</a></p>
      <p ng-controller="EditMetadataCtrl"><a href="#" class="btn btn-lg btn-default btn-block" data-animation="am-fade-and-slide-top" ng-click="showModal()"><i class="icon icon-pencil"></i> EDIT METADATA</a></p>
      <br>
      <p><a href="#/searchimageset" class="btn btn-lg btn-default btn-block"><i class="icon icon-images"></i> SEARCH IMAGE SETS</a></p>
      <p><a href="javascript:history.back()" class="btn btn-lg btn-default btn-block"><i class="icon icon-trash"></i> DELETE LION</a></p>
    </div>
  </div>
