  <button type="button" class="btn-help pull-right btn btn-icon" data-placement="left" title="" data-content="Search image sets to view summaries of name, age, organization, and CV status. Select a search result row to view an image set's primary image, to create a lion from an image set, dissociate a lion from an image set, or run or view a CV." data-trigger="focus" bs-popover><i class="icon icon-help-with-circle"></i></button>

  <h1><a class="btn btn-default" href="javascript:history.back()"><i class="icon icon-arrow-left"></i></a> Search Image Set</h1>
  <div class="row">
    <div class="col-sm-3 line-right">
      <h3 class="text-muted">Refine by</h3>
      <div class="tablist" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
        <div role="tab">
          <h4>
            <a bs-collapse-toggle><i class="pull-right icon icon-select-arrows"></i> Name or ID</a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <input ng-change="setPage(0)" type="text" class="form-control" ng-model="name_or_id">
          </div>
        </div>

        <div role="tab">
          <h4 >
            <a bs-collapse-toggle><i class="pull-right icon icon-select-arrows"></i> Organization</a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <label ng-repeat="organization in organizations">
              <input ng-click="setPage(0)" type="checkbox"  ng-model="organization.checked" ng-checked="organization.checked">{{! organization.name}} {{! organization.checked}}
            </label>
          </div>
        </div>

        <div role="tab">
          <h4 >
            <a bs-collapse-toggle ng-click="isCollapsed = !isCollapsed"><i class="pull-right icon icon-select-arrows"></i> Age</a>
            </h4>
        </div>
        <div uib-collapse="isCollapsed">
          <div class="panel-body">
            <rzslider
              rz-slider-floor="LionAge.floor"
              rz-slider-ceil="LionAge.ceil"
              rz-slider-model="LionAge.min"
              rz-slider-high="LionAge.max"
              rz-slider-step="1"
              rz-slider-on-change="setPage(0)"
              rz-slider-tpl-url="rzSliderTpl.html">
            </rzslider>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-9">
      <div class="pull-right sort form-inline">
        <label for="sorting" class="text-muted">Sort by </label>
        <select class="form-control" id="sorting" ng-model="sorting">
          <option value="name" selected="selected">Name</option>
          <option value="age">Age</option>
          <option value="organization">Organization</option>
          <option value="gender">Gender</option>
          <option value="is_verified">Verified</option>
          <option value="is_primary">Primary</option>
          <!--<option value="actions">Actions</option>-->
        </select>
      </div>
      <h3>{{! viewer_label()}}</h3>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Name</th>
            <!--<th>Created</th>-->
            <th>Age</th>
            <th>Organization</th>
            <th>Gender</th>
            <th class="text-center">Verified</th>
            <th class="text-center">Primary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="link" ng-repeat="imageset in paginated_image_set = (filtered_image_sets = (imagesets | orderBy:sorting:sortReverse | filter: byName_or_Id | filter: byAgeFilter | filter: byOrganization) | offset:currentPage*itemsPerPage | limitTo: itemsPerPage)">
            <td>
              <img ng-src="{{!imageset.thumbnail}}" width="40" height="40">
            </td>
            <td>{{!imageset.name}}</td>
            <!--<td>{{!imageset.created}}</td>-->
            <td>{{!imageset.age}} years old</td>
            <td>{{!imageset.organization}}</td>
            <td>{{!imageset.gender}}</td>
            <td class="text-center">
              <i ng-if="imageset.is_verified" class="icon icon-check"></i>
              <i ng-if="!imageset.is_verified" class="icon icon-cross"></i>
            </td>
            <td class="text-center">
              <i ng-if="imageset.is_primary" class="icon icon-check"></i>
              <i ng-if="!imageset.is_primary" class="icon icon-cross"></i>
            </td>
            <td>
              <cvresults-search ng-if="imageset.cvresults"></cvresults-search>
              <cvrefine ng-if="!imageset.cvresults && !imageset.cvrequest"></cvrefine>
              <span class="text-muted" ng-if="!imageset.cvresults && imageset.cvrequest"><i class="icon icon-clock"></i> CV Request pending</span>
            </td>
          </tr>
        </tbody>
      </table>

      <nav class="text-center">
        <ul class="pagination pagination-lg">
          <li ng-class="prevPageDisabled()"><a href ng-click="firstPage()">««</a></li>
          <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">«</a></li>
          <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)"><a href="#">{{! n+1}}</a></li>
          <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">»</a></li>
          <li ng-class="nextPageDisabled()"><a href ng-click="lastPage()">»»</a></li>
        </ul>
      </nav>

    </div>
  </div>
