  <button type="button" class="btn-help pull-right btn btn-icon" data-placement="left" title="" data-content="Search image sets to view summaries of name, age, organization, and CV status. Select a search result row to view an image set's primary image, to create a lion from an image set, dissociate a lion from an image set, or run or view a CV." data-trigger="focus" bs-popover><i class="icon icon-help-with-circle"></i></button>

  <h1><a class="btn btn-default" ng-click="go_back()"><i class="icon icon-arrow-left"></i></a> Search Image Set</h1>
  <div class="row">
    <div class="col-sm-3 line-right">
      <h3 class="text-muted">Refine by</h3>
      <div class="tablist" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
        <div role="tab">
          <h4>
            <a bs-collapse-toggle><i class="pull-right icon icon-select-arrows"></i> Name or ID</a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <input ng-change="setPage(0)" type="text" class="form-control" ng-model="name_or_id">
          </div>
        </div>

        <div role="tab">
          <h4 >
            <a bs-collapse-toggle><i class="pull-right icon icon-select-arrows"></i> Organization</a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <label ng-repeat="organization in organizations">
              <input ng-click="setPage(0)" type="checkbox"  ng-model="organization.checked" ng-checked="organization.checked">{{! organization.name}}
            </label>
          </div>
        </div>

        <div role="tab">
          <h4 >
            <a bs-collapse-toggle ng-click="isCollapsed = !isCollapsed"><i class="pull-right icon icon-select-arrows"></i> Age</a>
            </h4>
        </div>
        <div uib-collapse="isCollapsed">
          <div class="panel-body">
            <rzslider
              rz-slider-floor="LionAge.floor"
              rz-slider-ceil="LionAge.ceil"
              rz-slider-model="LionAge.min"
              rz-slider-high="LionAge.max"
              rz-slider-step="1"
              rz-slider-on-change="setPage(0)"
              rz-slider-tpl-url="rzSliderTpl.html">
            </rzslider>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-9">
      <!--<div class="pull-right sort form-inline">
        <label for="sorting" class="text-muted">Sort by </label>
        <select class="form-control" id="sorting" ng-model="sorting">
          <option value="name" selected="selected">Name</option>
          <option value="age">Age</option>
          <option value="organization">Organization</option>
          <option value="gender">Gender</option>
          <option value="is_verified">Verified</option>
          <option value="is_primary">Primary</option>
          <option value="actions">Actions</option>
        </select>
      </div>-->
      <h3>{{! viewer_label()}}</h3>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center"><a ng-click="order('id')" ng-class="{'order_class': predicate === 'id'}">Id</a>
              <span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="text-center">Photo</th>
            <th class="text-center">
              <a href="" ng-click="order('name')" ng-class="{'order_class': predicate === 'name'}">Name</a>
              <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="text-center">
              <a href="" ng-click="order('age')" ng-class="{'order_class': predicate === 'age'}">Age</a>
              <span class="sortorder" ng-show="predicate === 'age'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="text-center">
              <a href="" ng-click="order('organization')" ng-class="{'order_class': predicate === 'organization'}">Organization</a>
              <span class="sortorder" ng-show="predicate === 'organization'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="text-center">
              <a href="" ng-click="order('gender')" ng-class="{'order_class': predicate === 'gender'}">Gender</a>
              <span class="sortorder" ng-show="predicate === 'gender'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="text-center">
              <a href="" ng-click="order('is_verified')" ng-class="{'order_class': predicate === 'is_verified'}">Verified</a>
              <span class="sortorder" ng-show="predicate === 'is_verified'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="text-center">
              <a href="" ng-click="order('is_primary')" ng-class="{'order_class': predicate === 'is_primary'}">Primary</a>
              <span class="sortorder" ng-show="predicate === 'is_primary'" ng-class="{reverse:reverse}"></span>
            </th>
            <th>
              <a href="" ng-click="order('action')" ng-class="{'order_class': predicate === 'action'}">Actions</a>
              <span class="sortorder" ng-show="predicate === 'action'" ng-class="{reverse:reverse}"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="link" ng-repeat="imageset in paginated_image_set = (filtered_image_sets = (imagesets | orderBy:predicate:reverse | nameid_filter:name_or_id:name_or_id | age_filter:LionAge | organization_filter:organizations) | offset:currentPage*itemsPerPage | limitTo: itemsPerPage)">
            <td class="text-center" ui-sref="imageset({id: imageset.id})">{{!imageset.id}}</td>
            <td class="text-center" ui-sref="imageset({id: imageset.id})"><img ng-src="{{!imageset.thumbnail}}" width="40" height="40"></td>
            <td class="text-center" ui-sref="imageset({id: imageset.id})">{{!imageset.name}}</td>
            <td class="text-center" ui-sref="imageset({id: imageset.id})">{{!imageset.age}} years old</td>
            <td class="text-center" ui-sref="imageset({id: imageset.id})">{{!imageset.organization}}</td>
            <td class="text-center" ui-sref="imageset({id: imageset.id})">{{!imageset.gender}}</td>
            <td class="text-center" ui-sref="imageset({id: imageset.id})">
              <i ng-if="imageset.is_verified" class="icon icon-check"></i>
              <i ng-if="!imageset.is_verified" class="icon icon-cross"></i>
            </td>
            <td class="text-center" ui-sref="imageset({id: imageset.id})">
              <i ng-if="imageset.is_primary" class="icon icon-check"></i>
              <i ng-if="!imageset.is_primary" class="icon icon-cross"></i>
            </td>
            <td>
              <cvresults use-ctrl="CVResultsCtrl" use-template-url="cvresults.html" form-size="lg" imageset-id="imageset.id" cvresults-id="imageset.cvresults" cvrequest-id="imageset.cvrequest" type="search" ng-if="imageset.action == 'cvresults'" cv-result-erased="Change_results(change, imagesetId)"></cvresults>
              <cvrequest use-ctrl="CVRequesCtrl" use-template-url="cvrequest.html" form-size="lg" imageset-id="imageset.id" type="search" ng-if="imageset.action == 'cvrequest'" cv-request-success="CVReqSuccess(imageset_Id, request_Obj)"></cvrequest>
              <span class="text-muted" ng-if="imageset.action == 'cvpending'"><i class="icon icon-clock"></i> CV Request pending</span>
            </td>
          </tr>
        </tbody>
      </table>
      <nav class="text-center">
        <ul class="pagination pagination-lg">
          <li ng-class="prevPageDisabled()"><a href ng-click="firstPage()">««</a></li>
          <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">«</a></li>
          <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)"><a href="#">{{! n+1}}</a></li>
          <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">»</a></li>
          <li ng-class="nextPageDisabled()"><a href ng-click="lastPage()">»»</a></li>
        </ul>
      </nav>

    </div>
  </div>
