<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <div class="aside-body" ng-show="content">
        <p>Logged in as <strong>{{!login.username}}</strong> of <strong>{{!login.orgname}}</strong></p>
        <ul class="nav nav-stacked" ng-show="login.logged" >
          <li role="presentation" class="active"><a ui-sref="conservationists" ng-click="$hide()">Directory of conservationists</a></li>
          <li role="separator" class="divider"><hr></li>
          <li role="presentation">
            <metadata use-ctrl="MetadataCtrl" use-template-url="metadata.html" form-size="lg" type="side_lion" goto-imageset-action="goto_lion(Id); $hide()" cancel_action="$hide()" options-set="options.lions" debug="debug" modal-is-open="is_modal_open"></metadata>
          </li>
          <li role="presentation"><a ui-sref="searchlion" ng-click="$hide()">Search Lion</a></li>
          <li role="presentation">
            <metadata use-ctrl="MetadataCtrl" use-template-url="metadata.html" form-size="lg" type="side_image_set"  goto-imageset-action="goto_imageset(Id); $hide()" cancel-action="$hide()" options-set="options.imageset" debug="debug" modal-is-open="is_modal_open"></metadata>
          </li>
          <li role="presentation"><a ui-sref="searchimageset" ng-click="$hide()">Search Image Sets</a></li>
          <li role="separator" class="divider"><hr></li>
          <li role="presentation" ng-show="login.admin"><a ui-sref="admin.users" ng-click="$hide()">Manage Users</a></li>
          <li role="presentation"><a ng-click="logout($hide)">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
