<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <div class="aside-body" ng-show="content">

        <p>
          Logged in as <b>justin@lg.org</b> of <b>Lion Guardians</b>
        </p>

        <ul class="nav nav-stacked">
          <li role="presentation" class="active"><a href="/conservationists">Directory of conservationists</a></li>
          <li role="separator" class="divider"><hr></li>
          <li role="presentation"><a href="/newlion">Add new Lion</a></li>
          <li role="presentation"><a href="/searchlion">Search Lion</a></li>
          <li role="presentation"><a href="/newimageset">Add new Image set</a></li>
          <li role="presentation"><a href="/searchimageset">Search Image sets</a></li>
          <li role="separator" class="divider"><hr></li>
          <li role="presentation"><a href="admin">Manage users</a></li>
          <li role="presentation"><a href="#logout">Logout</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
