<div name="UpLoadImages" class="upload-images font-homenaje-1-1" ng-init="tabselector = 'images'">
  <div class="modal-header" ng-show="title">
    <button type="button" class="close" ng-click="Finish()">&times;</button>
    <h4 class="modal-title" ng-bind-html="title"></h4>
  </div>

    <div class="modal-body " >

        <div class="image-options modal-alignment">


             <upload-images type="precropped" imageset-id="imagesetId"
					use-ctrl="UploadImagesCtrl" use-template-url="uploadimages.html" form-size="lg"
					close-action="Close()" debug="debug">
				</upload-images>

            <upload-auto-Images
                    type="precropped" imageset-id="imagesetId"
					use-ctrl="AutoUploadImagesCtrl" use-template-url="uploadimagescropper.html" form-size="lg"
					close-action="Close()" debug="debug">

            </upload-auto-Images>



        </div>




    </div>

</div>

