<div class="modal-header" ng-show="title">
  <!--<button type="button" class="close" ng-click="Close()">&times;</button>-->
  <h4 class="modal-title" ng-bind-html="title"></h4>
</div>
<div class="modal-body" nv-file-drop="" uploader="uploader" class="ng-scope">
  <h3>Select files</h3>
  <div ng-show="uploader.isHTML5">
    <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
      <span class="btn btn-default btn-file">
         Drag & Drop Images here OR click to Select<input type="file" class="uploader" nv-file-select="" uploader="uploader" multiple/>
      </span>
    </div>
  </div>
  <h3>Upload queue</h3>
  <p>Queue length: {{! uploader.queue.length }}</p>
  <table class="table">
    <thead>
      <tr>
        <th width="10%" class="text-center">Image</th>
        <th width="10%" class="text-center">Name</th>
        <th width="10%" class="text-center">Image type</th>
        <th width="10%" class="text-center">Properties</th>
        <th width="10%" class="text-center">Cover Page</th>
        <th ng-show="uploader.isHTML5">Size</th>
        <th ng-show="uploader.isHTML5">Progress</th>
        <th width="5%" class="text-center">Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, item) in uploader.queue">
        <td class="text-center">
          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 50 }"></div>
        </td>
        <td class="text-center">
          <strong>{{! item.file.name }}</strong>
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-default" ng-model="item.file.ImageType" ng-init="item.file.ImageType = Init_Values['ImageType']" data-html="1" bs-options="itype.value as itype.label for itype in Types['Images']" bs-select ng-disabled="item.isSuccess">
            Action <span class="caret"></span>
          </button>
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-default" ng-model="item.file.isPublic" ng-init="item.file.isPublic = Init_Values['isPublic']" data-html="1" bs-options="property.value as property.label for property in Types['isPublic']" bs-select ng-disabled="item.isSuccess">
            Action <span class="caret"></span>
          </button>
        </td>
        <td class="text-center">
          <input type="radio" ng-disabled="item.file.isPublic==false || item.isSuccess"  ng-checked="!(item.file.isPublic==false) && 0" ng-model="select.isCover" name="radio-cover" ng-value="item.$$hashKey"/>
        </td>

        <td ng-show="uploader.isHTML5" nowrap>{{! item.file.size/1024/1024|number:2 }} MB</td>
        <td ng-show="uploader.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td class="text-center">
          <span ng-show="item.isSuccess"><i class="icon icon-check"></i></span>
          <span ng-show="item.isCancel"><i class="icon icon-circle-slash"></i></span>
          <span ng-show="item.isError"><i class="icon icon-trash"></i></span>
        </td>
        <td nowrap class="text-center">
          <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()" ng-show="!item.isSuccess">
            <span class="icon icon-trash"></span> Remove
          </button>
          <!--<button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" ng-show="!item.isSuccess">
            <span class="icon icon-circle-slash"></span> Cancel
          </button>-->
          <!--<button type="button" class="btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" ng-show="!item.isSuccess">
            <span class="icon icon-cloud_upload"></span> Upload
          </button>-->
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    Queue progress: {{! uploader.progress }} {{! ImageUploaded}}
    <div class="progress" style="">
      <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
    </div>
    <!--<button type="button" class="btn btn-default btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
      <span class="icon icon-circle-slash"></span> Cancel all
    </button>-->

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length || uploader.isUploading">
    <span class="icon icon-trash"></span> Remove all
  </button>
  <button type="button" class="btn btn-primary btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
    <span class="icon icon-cloud_upload"></span> Upload Images
  </button>
  <button ng-show="!uploader.queue.length" type="button" class="btn btn-default" ng-click="GoBack()">Go Back</button>
  <button ng-show="uploader.queue.length" type="button" class="btn btn-default" ng-click="Cancel()">Close</button>
  <button ng-show="isNew" type="button" class="btn btn-default" ng-click="Finish()">Finish</button>
</div>
</div>
