<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" ng-show="content" nv-file-drop="" uploader="uploader" class="ng-scope">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body">
        <h3>Select files</h3>
        <div ng-show="uploader.isHTML5">
          <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
            <span class="btn btn-default btn-file">
               Drag & Drop Images here OR click to Select<input type="file" class="uploader" nv-file-select="" uploader="uploader" multiple/>
            </span>
          </div>
        </div>
        <h3>Upload queue</h3>
        <p>Queue length: {{! uploader.queue.length }}</p>
        <table class="table">
          <thead>
            <tr>
              <th width="10%" class="text-center">Image</th>
              <th width="10%" class="text-center">Name</th>
              <th width="10%" class="text-center">Image type</th>
              <th width="10%" class="text-center">Properties</th>
              <th ng-show="uploader.isHTML5">Size</th>
              <th ng-show="uploader.isHTML5">Progress</th>
              <th width="5%" class="text-center">Status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in uploader.queue">
              <td class="text-center">
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 50 }"></div>
              </td>
              <td class="text-center">
                <strong>{{! item.file.name }}</strong>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-default" ng-model="selectedImageType" data-html="1" bs-options="imagetype.value as imagetype.label for imagetype in ImageTypes" bs-select>
                  Action <span class="caret"></span>
                </button>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-default" ng-model="selectedProperties" data-html="1" data-multiple="1" placeholder="None" bs-options="property.value as property.label for property in ImageProperties" bs-select>
                  Action <span class="caret"></span>
                </button>
              </td>
              <td ng-show="uploader.isHTML5" nowrap>{{! item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span ng-show="item.isSuccess"><i class="icon icon-check"></i></span>
                <span ng-show="item.isCancel"><i class="icon icon-circle-slash"></i></span>
                <span ng-show="item.isError"><i class="icon icon-trash"></i></span>
              </td>
              <td nowrap class="text-center">
                <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                  <span class="icon icon-trash"></span> Remove
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                  <span class="icon icon-circle-slash"></span> Cancel
                </button>
                <button type="button" class="btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                  <span class="icon icon-cloud_upload"></span> Upload
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          Queue progress: {{! uploader.progress }}
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
          <span class="icon icon-trash"></span> Remove all
        </button>
        <button type="button" class="btn btn-default btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <span class="icon icon-circle-slash"></span> Cancel all
        </button>
        <button type="button" class="btn btn-primary btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <span class="icon icon-cloud_upload"></span> Upload all
        </button>
      </div>
    </div>
  </div>
</div>
